.Logo {width: 60px;}

.separa2 {display: flex; justify-content: space-evenly;}

.boton-carrito {
    border: 2px solid rgb(255, 7, 255);
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: white;
    border-radius: 30%;
    transition: all .3s;
    margin-left: 40px;
}

.boton-carrito:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 225, 92);
}
.boton-carrito:focus {
    outline: none;
}