.Contador {
    background-color: rgb(143, 143, 255); 
    max-width: fit-content; 
    margin: 0 auto;
    text-align: center;
    border-radius: 10%;
}

.Contador:hover {background-color: rgb(255, 163, 25);}

button {background-color: rgb(247, 53, 198); 
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15%;
    margin: 5px;
}

button:hover {background-color: rgb(116, 255, 116); color: black;}